**/.GOOGLE_APPLICATION_CREDENTIALS.json
**/credentials.json
**/token.ro.pickle
**/token.pickle
**/.env
.env
.env.bak
**/.venv
.idea/
*.swp
.bundle
Docker/*.tar
.DS_Store
.vagrant
bundle.js
bundle.js.map
.settings/
*.log
output/
env\.back
git_stats/
build/
.bash_history
.cache
**/.local/
**/nltk_data/
**/.config/
**/.bash_profile
**/nohup.out
**/stimson-web-api.pid
**/stimson_web_app.egg-info/
tests/fixtures/pdf/2015-09-29 Myawaddy industrial zone set for 2017 opening.en.pdf
**/.pytest_cache
**/__pycache__/